body {
  background-color: #f2f2f2;
  margin: 5%;
}

h1, h3 {
  text-align: center;
}

.pretty {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  box-shadow: 2px 2px 2px lightgrey;
}

.row {
  display: flex;
}

.column1 {
  flex: 20%;
}

.column3 {
  flex: 40%;
}

.column4 {
  flex: 10%;
}
